/* Custom extensions beyond Tailwind defaults */

body {
    background-color: #0b0f19;
    /* Решение проблемы белых скроллбаров на Windows/модифицированных Mac */
}

/* Glassmorphism panel base */
.glassmorphism {
    background: rgba(21, 27, 43, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

/* Custom Scrollbar for inner elements */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Range Input styling to make it look premium */
input[type=range] {
    -webkit-appearance: none;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
}
input[type=range]::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #00f0ff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
    box-shadow: 0 0 10px rgba(0, 240, 255, 0.6);
    transition: transform 0.1s ease;
}
input[type=range]::-webkit-slider-thumb:hover {
    transform: scale(1.2);
}

/* Plotly overrides (transparent tooltips, dark mode fix) */
.js-plotly-plot .plotly .modebar {
    opacity: 0.2 !important;
}
.js-plotly-plot .plotly:hover .modebar {
    opacity: 0.8 !important;
}
